* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1 {
	font-weight: 100;
}

body {
	text-align: center;
	padding: 2% 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1
}


section {
	padding: 1%;
}

button {
	color: white;
	background-color: purple;
	padding: 15px;
	margin-top: 1%;
}

.big-and-bold {
	font-size: 48px;
	font-weight: 400;
	transition: all 3s;
}

footer {
	color: white;
	background-color: black;
	padding: 15px 0;
}
