* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1 {
	font-weight: 100;
}

.big-and-bold {
	font-size: 48px;
	font-weight: 400;
	transition: all 3s;
}
